<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin</title>
</head>

<body>
    <div class="w-100 p-3 h-100 d-inline-block">
        <h1>Admin Page</h1>
        <br>
        <a th:href="@{/UsersList}"><button class="btn btn-success my-2 my-sm-0"> List of Users </button></a> &nbsp; &nbsp; &nbsp;
        <a th:href="@{/ProductsList}"><button class="btn btn-success my-2 my-sm-0"> List of Products </button></a> &nbsp; &nbsp; &nbsp;
        <a th:href="@{/AddProducts}"><button class="btn btn-success my-2 my-sm-0"> Add Products </button></a> &nbsp; &nbsp; &nbsp;
        <br>
        <br>
        <br>
        <a th:href="@{/logout}"><button class="btn btn-danger my-2 my-sm-0"> Logout </button></a>
    </div>

</body>

</html>